.browsePage {
  margin-top: 2em;
  background-color: black;
  min-height: calc(100vh - 12vh);
}

.exploreImg {
  width: 15em;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.page-item {
  margin-top: 4vh;
}
.page-item:active {
  transform: scale(0.9);
}

.games-container {
  margin: 0 auto;
  width: 90%;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
  margin-top: 7vh;
}

.game-card {
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1vw;
  color: black;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
  overflow: hidden;
  position: relative;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .game-card {
    padding: 2vh 0 2vh 0;
    width: 20em;
    font-size: 15px;
  }
  .games-container {
    margin-left: 4em;
  }
}

.game-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.game-card:active {
  transform: scale(0.9);
}
.game-image {
  height: auto;
  width: 18em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 8px;
}

.game-title {
  font-size: 1.7rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.games-container a {
  text-decoration: none;
  color: black;
}

.games-grid a:hover {
  text-decoration: none;
  color: black;
}

.games-grid .game-card .officialLink {
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
  display: block;
  margin-top: 0.5rem;
  transition: color 0.2s ease-in-out;
}

.games-grid .game-card .officialLink:hover {
  color: #007bff;
}
