.groupPage {
  display: flex;
  margin-top: 27px;
  justify-content: center;
  background: linear-gradient(135deg, #3f4c6b, #606c88);
  background-color: black;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      0deg,
      rgba(87, 85, 85, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://i.pinimg.com/originals/5c/29/be/5c29be5fa8bfe5f4c4d1d442e7739d2d.jpg");
}
.groupscard {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin-top: 10px;
}
.group-info-section {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin-top: 5px;
}
.groupEdit {
  background-color: #347a36;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 4px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.input-group-text {
  width: 20vw;
}

.groupEdit:hover {
  background-color: #3e8e41;
}

.cardetails {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  margin-top: 8em;
  margin-bottom: 8em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 70%;
  max-width: 1200px;
  span {
    margin-right: 10px;
    font-weight: bold;
  }
}

.cardetails-body {
  display: flex;
  flex-direction: column;
  padding: 5vh;
  max-width: 100%;
  overflow-wrap: break-word;
}

.chatbox {
  border-radius: 6px;
  height: 50vh;
  margin-top: 3em;
  overflow: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}

.chat-message {
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  .timestamp {
    font-size: 12px;
    color: #666;
  }
}

.leavebtn {
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  position: relative;
  top: 7vh;
  margin-bottom: 4vh;
  width: 13em;
  background-color: #0062cc;
  transition: background-color 0.3s ease;
}

.joinbtn {
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  width: 25em;
  margin-top: 40px;
  font-size: 16px;
  width: 13em;
  background-color: #0062cc;
  transition: background-color 0.3s ease;
}

.joinbtn:hover,
.leavebtn:hover {
  background-color: #023c7a;
}

.savebtn {
  background-color: #024790;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.savebtn:hover {
  background-color: #0062cc;
}

.cancelbtn {
  background-color: #024790;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.cancelbtn:hover {
  background-color: #0062cc;
}

.messageuser {
  font-size: 11px;
  font-weight: bold;
  position: relative;
  top: 9px;
}

.group-info-section span {
  font-size: 18px;
}

.removeMember {
  background-color: #dc3545;
  color: #fff;
  padding: 0 8px 0 8px;
  border-radius: 0.25rem;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  right: 5px;
}

.memberuser a {
  text-decoration: none;
  color: #007bff;
}

.memberuser a:hover {
  text-decoration: underline;
  color: #0266d1 !important;
}

.member img {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  border-radius: 50%;
}

.removeMember:hover {
  background-color: #c82333;
}
.removeMember:active {
  transform: scale(0.9);
}
.ownertext {
  position: relative;
  top: 15px;
  font-weight: bold;
}

.submitbtn {
  position: relative;
  width: 9vw;
  top: 5vh;
  left: 0.8vw;
  height: 11.5vh;
}

.inputmessage .form-control {
  height: 12vh;
  width: 44vw;
  top: 4.7vh;
  position: relative;
}

.owner-info {
  display: flex;
  align-items: center;
  position: relative;
  right: 12px;

  a {
    color: #007bff !important;
    text-decoration: none;
    margin-left: 5px;
  }

  a:hover {
    text-decoration: underline;
    color: #0266d1 !important;
  }
  a:active {
    transform: scale(0.9);
  }

  img {
    width: 4vw;
    height: auto;
    margin-top: 5px;
    margin-right: 9px;
    border-radius: 50%;
  }
}

.dropdownmembers {
  display: flex;
  justify-content: end;
  position: relative;
  right: 2.7vw;
  bottom: 2em;
}

.dropdownmembers .dropdown-menu {
  width: 1px;
  height: 9vh;
  font-size: 15px;
}

.joinleavebtns {
  display: flex;
  justify-content: center;
}

.groupEdit:active {
  transform: scale(0.9);
}

.leavebtn:active {
  transform: scale(0.9);
}

.joinbtn:active {
  transform: scale(0.9);
}

.savebtn:active {
  transform: scale(0.9);
}

.cancelbtn:active {
  transform: scale(0.9);
}

.owner {
  position: relative;
  bottom: 2px;
}

.removeMember:hover {
  background-color: #c82333;
}

.submitbtn:active {
  transform: scale(0.9);
}

.likestext {
  margin-top: 10px;
  margin-bottom: 4px;
}

.likebtn {
  border: none;
  padding: 15px;
  position: relative;
  bottom: 0.8vh;
  right: 0.2vw;
  cursor: pointer;
  background-image: url("https://www.macmillandictionary.com/external/slideshow/full/emoji_thumbs-up_full.jpg");
  background-position: center;
  background-size: cover;
}

.dislikebtn {
  border: none;
  position: relative;
  font-size: 18px;
  left: 0.3vw;
  bottom: 4px;
  padding: 15px;
  cursor: pointer;
  background-image: url("https://www.macmillandictionary.com/external/slideshow/full/emoji_thumbs-down_full.jpg");
  background-position: center;
  background-size: cover;
}

.likebtn:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}
.likebtn:active {
  transform: scale(0.9);
}
.dislikebtn:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}
.dislikebtn:active {
  transform: scale(0.9);
}

.likedislikebtns {
  width: 18em;
  top: 60px;
  position: relative;
}

.likesspan {
  font-size: 18px;
  position: relative;
  top: 6px;
  margin-left: 6px;
}

.spanlike {
  font-weight: normal !important;
}

.spanlike,
.dislikespan {
  width: 30px;
}
.dislikespan {
  font-weight: normal !important;
  position: relative;
  left: 12px;
}

.disabledlike {
  border: none;
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  position: relative;
  bottom: 1.2vh;
  right: 0.2vw;
  opacity: 0.4;
  cursor: pointer;
  background-image: url("https://www.macmillandictionary.com/external/slideshow/full/emoji_thumbs-up_full.jpg");
  background-position: center;
  background-size: cover;
}
.disableddislike {
  border: none;
  padding: 15px;
  position: relative;
  bottom: 6px;
  left: 3px;
  opacity: 0.4;
  cursor: pointer;
  background-image: url("https://www.macmillandictionary.com/external/slideshow/full/emoji_thumbs-down_full.jpg");
  background-position: center;
  background-size: cover;
}

// .error {
//   color: red;
//   font-weight: bold;
//   font-size: 18px;
//   animation-name: shake;
//   animation-duration: 0.5s;
//   animation-iteration-count: 3;
// }

// @keyframes shake {
//   0% {
//     transform: translateX(0);
//   }
//   25% {
//     transform: translateX(10px);
//   }
//   50% {
//     transform: translateX(0);
//   }
//   75% {
//     transform: translateX(-10px);
//   }
//   100% {
//     transform: translateX(0);
//   }
// }

.usertitle,
.ownertitle {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 1.4em;
  border-bottom: 2px solid black;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1.8em;
  color: #333; /* Change color as desired */
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .inputmessage .form-control {
    width: 20vw;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 8px;
    height: 3em;
    margin-top: 6vh;
  }
  .leavebtn {
    width: 10em;
    margin-left: 1.5em;
  }
  .usertitle,
  .ownertitle {
    font-size: 15px;
  }
  .removeMember {
    width: 20px;
    height: 21px !important;
    bottom: 3px;
  }
  .removeMember:active {
    transform: scale(0.9) !important;
  }
  .member img {
    width: 25px;
    height: auto;
  }
  .submitbtn {
    left: -6vw;
    top: 12vh;
    height: 10vh;
    width: 5.5em;
    margin-left: 7vw;
  }

  .owner-info a {
    font-size: 13px;
  }

  .leavebtn {
    margin-top: 2em;
  }

  .inputmessage .form-control {
    width: 18vw;
    height: 3em;
  }

  .owner-info a {
    font-size: 13px;
  }
  .dropdownmembers .btn-secondary {
    width: 8em;
    height: 4vh;
    font-size: 8px;
  }
  .leavebtn {
    margin-top: 2em;
  }
  .chatempty {
    font-size: 16px !important;
    top: 3em !important;
  }
}

.chatempty {
  display: flex;
  text-align: center;
  position: relative;
  top: 5em;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #0404036e;
  text-shadow: 2px 2px 3px #403f3f76;
}

.popups .btn-secondary {
  width: 20em;
}
.popups .btn-secondary:active {
  width: 20em;
  transform: scale(0.9);
}
.popups {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.dropdownmembers .btn-secondary:active {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
