.form-body-login form {
  position: relative;
  top: 3rem;
}

.main-form-login {
  display: flex;
  background: linear-gradient(0deg, rgb(150, 149, 149), rgba(16, 15, 15, 0.9));
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 12vh);
}

.form-body-login {
  height: 43em;
  width: 35em;
  top: 2vh;
  margin-bottom: 8em;
  margin-top: 6em;
  position: relative;
  background-image: linear-gradient(
      0deg,
      rgb(25, 24, 24),
      rgba(156, 151, 151, 0.4)
    ),
    url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d785543a-4d1a-4c2c-9023-ecbf90a7dd5f/dbe767e-75487324-b348-4d19-aea7-efaefa044619.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q3ODU1NDNhLTRkMWEtNGMyYy05MDIzLWVjYmY5MGE3ZGQ1ZlwvZGJlNzY3ZS03NTQ4NzMyNC1iMzQ4LTRkMTktYWVhNy1lZmFlZmEwNDQ2MTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dIivHwqHzAMAnhb0qFo08X054O-_iIU9U4WRBgcmSxY");
  padding: 20px 30px 0 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.main-form-login {
  margin-top: 4vh;
  min-height: calc(100vh - 12vh);
  width: 100vw;
  button {
    position: relative;
    top: 3em;
    width: 8em;
  }
  input {
    font-size: 15px;
    width: 28em;
    height: 3.2em;
    text-align: center;
  }
  button:active {
    transform: scale(0.9);
  }

  button:hover {
    background-color: #063a88;
  }
}

.mt-3 {
  text-align: center;
  position: relative;
  margin-bottom: auto;
  font-size: 20px;
  top: 4em !important;
}
.text-muted a {
  text-decoration: none;
}

.text-muted a:hover {
  text-decoration: underline;
}
.text-muted a:active {
  color: #ff4500;
}

.logintitle {
  text-align: center;
  position: relative;
  font-size: 40px;
  top: 1em;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #0d0d0d;
}

.insidecard {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px !important;
  flex-direction: column;
}

.buttonlink {
  display: flex;
  height: 2px !important;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.inputs {
  position: relative;
  bottom: 20px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .form-body-login {
    width: 25em;
    height: 35em;
  }
  .buttonandsignup {
    position: relative;
    bottom: 8em;
  }

  .text-muted {
    margin-top: 3em;
  }

  .form-body-login h2 {
    font-size: 25px;
  }
  .main-form-login input {
    text-align: center;
    left: 10px;
    height: 2.7em;
    width: 16em;
  }

  .logintitle {
    margin-top: 20px;
    top: 30px;
  }
  .mt-3 {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 1800px) {
  .mt-3 {
    top: 9em !important;
  }
  .buttonlink {
    position: relative;
    bottom: 3em;
  }
  .inputs {
    position: relative;
    bottom: 3em;
    height: 3em;
  }
  .form-body-login {
    height: 62em;
    width: 50em;
  }
  .main-form-login {
    input {
      font-size: 16px;
      width: 540px !important;
    }
    button {
      top: 8em;
    }
  }

  .insidecard {
    margin-top: 5em;
  }
}
