* {
  padding: 0;
  margin: 0;
}
.navitem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-right: 12em;
  height: 8vh;
  background-color: rgb(255, 254, 254);
  position: relative;
  top: 12px;
  margin-bottom: 24px;
}

li {
  list-style: none;
}

ul {
  gap: 2.5em;
  margin-bottom: 0 !important;
}

.primary-nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 4em;
}

.secondary-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 5em;
  width: 10px;

  img {
    width: 30px;
    max-width: 80%;
    height: 30px;
    position: relative;
    left: 12px;
    border-radius: 50%;
  }
}
.primary-nav a {
  text-decoration: none !important;
  color: black !important;
  cursor: pointer;
  font-weight: 600;
}
.primary-nav a:active {
  transform: scale(0.9);
}
.secondary-nav a:active {
  transform: scale(0.9);
}

.primary-nav a:hover {
  color: rgb(219, 22, 199) !important;
  text-decoration: none !important;
  transition: all 0.2s ease-in-out;
}

.secondary-nav a {
  text-decoration: none !important;
  color: black !important;
  cursor: pointer;
  font-weight: 600;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

.secondary-nav a:hover {
  color: rgb(219, 22, 199) !important;
}

.donut {
  margin: 9px 0 0 19px;
  width: 2px;
}

//Footer
footer {
  height: 11vh;
  width: 98.8vw;
  background-color: #1e274d;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot {
  align-items: start;
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
  height: 8vh;
  border: 1px solid #266388;
  border-radius: 6px;
  box-shadow: 0 4px 16px #112e3f;
  background-color: rgb(210, 213, 214);
}

@media only screen and (max-width: 768px) {
  .secondary-nav img {
    width: 24px;
    left: 3em;
    height: auto;
  }
  .navitem {
    font-size: 11px;
    margin-right: 37em;
  }
  .nav-item-logout {
    margin-bottom: 3px;
  }
  .donut {
    margin-left: 15px;
  }
  .foot {
    width: 99vw;
    margin-right: 14px;
  }
  .secondary-nav a {
    margin-right: 1em;
    position: relative;
    left: 30px;
  }
  footer {
    height: 0vh;
    font-size: 12px;
  }
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info:active {
  transform: scale(0.9);
}

.user-info-wrapper {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
}

ul.secondary-nav {
  width: 18em;
}
.secondary-nav li:active {
  transform: scale(0.9);
}
.nav-item-logout {
  margin-top: 2.3px;
  margin-right: 3em;
}

.usernamenav {
  width: 1vw;
}
