.main-form-register {
  margin-top: 4vh;
  display: flex;
  background: linear-gradient(0deg, rgb(150, 149, 149), rgba(16, 15, 15, 0.9));
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 12vh);
  width: 100vw;
}

.form-body-register {
  height: 55em;
  width: 45em;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8em;
  margin-top: 8em;
  background-image: linear-gradient(
      0deg,
      rgb(25, 24, 24),
      rgba(156, 151, 151, 0.4)
    ),
    url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d785543a-4d1a-4c2c-9023-ecbf90a7dd5f/dbe767e-75487324-b348-4d19-aea7-efaefa044619.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q3ODU1NDNhLTRkMWEtNGMyYy05MDIzLWVjYmY5MGE3ZGQ1ZlwvZGJlNzY3ZS03NTQ4NzMyNC1iMzQ4LTRkMTktYWVhNy1lZmFlZmEwNDQ2MTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dIivHwqHzAMAnhb0qFo08X054O-_iIU9U4WRBgcmSxY");
  padding: 20px 30px 0 30px;
  background-color: rgb(205, 203, 203);
  padding: 20px 30px 0 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  input {
    font-size: 15px;
    width: 28em;
    height: 4em;
    text-align: center;
  }
}

.form-control {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1px;
  position: relative;
  top: 8vh;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.registerbtn button {
  width: 15vw;
  height: 50px;
  position: relative;
  top: 9.3vh;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
}
.registerbtn button:hover {
  background-color: rgb(6, 69, 177);
}
.registerbtn button:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 768px) {
  .form-body-register {
    width: 25em;
    height: 35em;
    .registerbtn button {
      width: 8em;
      height: 40px;
      top: 4rem;
      font-size: 14px;
    }
    .registertitle {
      font-size: 20px;
      top: 2.8rem;
    }
    input {
      top: 4.5em;
      width: 18em;
      height: 2.5em;
      font-size: 13px;
    }

    .registerinside {
      margin-bottom: 7.3em;
    }
  }
}

.registertitle {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: 2rem;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid #0d0d0d;
}

.btncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registerinside {
  margin-bottom: 8.5em;
}

@media only screen and (min-width: 1800px) {
  .registerinside {
    margin-bottom: 15em;
  }
  .form-body-register input {
    width: 30em;
  }
  .form-body-register {
    height: 65em;
    width: 55em;
  }
  .registerbtn button {
    width: 17rem;
  }
}
