.main-form-register {
  margin-top: 4vh;
  display: flex;
  background-image: linear-gradient(
      0deg,
      rgb(141, 139, 139),
      rgba(156, 151, 151, 0.4)
    ),
    url("https://cdn.wallpapersafari.com/74/55/8RDqlF.jpg");
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 12vh);
  width: 100vw;
}

.form-body-register {
  height: 70vh;
  width: 25vw;
  background-image: linear-gradient(
      0deg,
      rgb(25, 24, 24),
      rgba(156, 151, 151, 0.4)
    ),
    url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d785543a-4d1a-4c2c-9023-ecbf90a7dd5f/dbe767e-75487324-b348-4d19-aea7-efaefa044619.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q3ODU1NDNhLTRkMWEtNGMyYy05MDIzLWVjYmY5MGE3ZGQ1ZlwvZGJlNzY3ZS03NTQ4NzMyNC1iMzQ4LTRkMTktYWVhNy1lZmFlZmEwNDQ2MTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dIivHwqHzAMAnhb0qFo08X054O-_iIU9U4WRBgcmSxY");
  margin-top: 3rem;
  background-color: rgb(205, 203, 203);
  padding: 20px 30px 0 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 1px;
  position: relative;
  top: 8vh;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.registerbtn button {
  width: 70%;
  height: 50px;
  position: relative;
  top: 11vh;
  left: 3.4vw;
  border-radius: 5px;
  font-size: 20px;
}

.registerbtn button:active {
  transform: scale(0.9);
}

@media only screen and (max-width: 768px) {
  .form-body-register {
    width: 19rem;
    padding-bottom: 28em;
    margin-bottom: 5em;
    margin-top: 2em;
    .registerbtn button {
      left: 15vw;
      width: 5rem;
      height: 40px;
      top: 3rem;
      font-size: 10px;
    }
    .registertitle {
      font-size: 20px;
      top: 2rem;
    }
    .error-register2 {
      font-size: 10px;
      top: 8vh;
    }
    .error-register1 {
      font-size: 10px;
      top: -7px;
    }
    input {
      font-size: 13px;
    }
  }
}

.error-register2 {
  color: red;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: 10rem;
  left: 6rem;
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.error-register1 {
  color: red;
  position: relative;
  top: 12rem;

  text-align: center;
  font-weight: bold;
  font-size: 20px;
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.registertitle {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: 2.4rem;
}
