.userpage {
  min-height: calc(100vh - 12vh);
  margin-top: 5vh;
  background: linear-gradient(135deg, #414e6b, #606c88);
  // background: linear-gradient(to bottom right, #4568dc, #b06ab3);
  // background-position: center;
  // background-size: cover;
  // background-image: linear-gradient(
  //     0deg,
  //     rgba(0, 0, 0, 0.2),
  //     rgba(0, 0, 0, 0.2)
  //   ),
  //   url("https://wallpaperaccess.com/full/974166.jpg");
  // min-height: calc(100vh - 12vh);
}

.usercontainer {
  height: 100%;
  position: relative;
  top: 6em;
  margin-left: 1.4vw;
}

.profile-details {
  background-color: rgb(254, 254, 254);
  border: 1px solid #ccc;
  position: relative;
  padding: 1rem;
  height: 15vh;
  top: 10px;
  border-radius: 5px;
  width: 32vw;
  margin: 10px 0 17px 0;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0.5rem;
  }

  strong {
    margin-right: 0.5rem;
  }

  input {
    margin-left: 0.5rem;
  }
}

.normal-img {
  max-width: 25%;
  position: relative;
  margin-left: 3em;
  bottom: 11px;
  border-radius: 50%;
}
@media (min-width: 1800px) {
  .normal-img {
    max-width: 25%;
  }
  .profile-details {
    height: 17vh;
  }
}

.preview-img {
  border-radius: 50%;
  max-width: 20%;
  position: relative;
  left: 23vw;
  bottom: 5vh;
}

.group-delete {
  display: flex;
  align-items: center;
}

.group-delete:active {
  transform: scale(0.9);
}

.delete-button {
  background-color: #c8352b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-left: 30px;
}
.delete-button:hover {
  background-color: #fff;
  border: 1px solid #91271f;
}
.editButtons {
  li button {
    border: none;
    background-color: rgb(156, 140, 110);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 7px 0 0;
    font-size: 1rem;
  }
  li button:hover {
    background-color: rgb(104, 93, 73);
  }
  li button:active {
    transform: scale(0.9);
  }
}

.listBtn {
  position: relative;
  top: 8vh;
}

.listBtn:active {
  transform: scale(0.9);
}
.creategroupcontainer {
  position: relative;
  bottom: 60vh;
  left: 63vw;
}
.creategroupcontainer .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 34vw;
  top: 1em;
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 48vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
  max-height: 120px;
  overflow-y: scroll;
}

.list-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.list-form input {
  margin: 0.5rem;
  width: 10vw;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.groups-container {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  position: relative;
  bottom: 22vh;
  left: 2px;
}

.group-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 32%; /* Optional: This sets the width of each item */
  margin: 1em;
  padding: 1rem;
  width: 30vw;
  background-color: rgb(254, 254, 254);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.group-details {
  max-width: 70%;
  margin-right: 1em;
  li {
    margin-bottom: 0.5em;
  }
}

.group-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.group-box:active {
  box-shadow: 0 0 10px #000;
}
.userpage a {
  text-decoration: none;
}
.userpage a:hover {
  color: black;
}
.owner-username {
  color: #007bff !important;
  text-decoration: none;
}

.owner-username:hover {
  text-decoration: underline;
  color: #0266d1 !important;
}

.group-box ul li {
  color: black;
  text-decoration: none !important;
}

.group-details a {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .group-delete {
    position: relative;
    right: 2.5px;
  }
  .userpage {
    font-size: 12px;
  }

  .form-group button {
    top: 5.5em;
  }
  .creategroupcontainer .card {
    padding-bottom: 24em;
    top: 5em;
    right: 8px;
  }

  .userpage button {
    width: 11em;
    font-size: 10px !important;
  }

  .form-group input {
    width: 11.5em;
    font-size: 9px;
  }
  .normal-img {
    top: 0;
  }
  .profile-details {
    font-size: 9px;
  }
  .error-create {
    width: 15em;
    top: 40vh;
    font-size: 10px !important;
    margin-left: -4em;
  }
  .error-user {
    margin-top: 2px;
    width: 14em;
  }
  .profile-details input {
    width: 11.5em;
    font-size: 9px;
  }
}

.userpage span {
  font-weight: bold;
}

.error-create {
  position: absolute;
  color: red;
  text-align: center;
  bottom: 7vh;
  right: 5vw;
  font-weight: bold;
  font-size: 18px;
  animation-name: shake;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
}
.error-user {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  animation-name: shake;
  animation-duration: 0.3s;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.userpagetitle {
  text-align: center;
  position: relative;
  font-weight: bold;
  bottom: 2em;
  border-bottom: 2px solid rgb(8, 8, 8);
  font-size: 1.3em;
  color: #070707; /* Change color as desired */
  text-transform: uppercase;
}
